
{% load static %}
<html>
<head>

   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}" />

    <!-- External Css -->
    <link rel="stylesheet" href="{% static '/assets/css/fontawesome-all.min.css'%}" />
    <link rel="stylesheet" href="{% static '/assets/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/et-line.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/bootstrap-tagsinput.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/plyr.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/flag.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/slick.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/jquery.nstSlider.min.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static '/assets/css/jquery-ui.min.css' %}">
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/faviconl.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icon-114x114.png' %}">

</head>
<body>


    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="blog-post-wrapper">
              <article class="blog-list">
                <div class="info">
                  <span class="date">24th dec,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>42</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">But I must explain to you how all</a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <article class="blog-list">
                <div class="info">
                  <span class="date">31th dec,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Dorothy Kiger</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>16</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">Nor again is there anyone who loves pursues</a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <article class="blog-list">
                <div class="info">
                  <span class="date">17th dec,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>24</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">Because it is pleasure but those</a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <article class="blog-list">
                <div class="info">
                  <span class="date">04th dec,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Samuel Alvarado</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>51</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">Who chooses to enjoy a pleasure </a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <article class="blog-list">
                <div class="info">
                  <span class="date">21th Nov,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>42</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">How to pursue pleasure rationally</a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <div class="pagination-list text-center">
                <nav class="navigation pagination">
                  <div class="nav-links">
                    <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                    <a class="page-numbers" href="#">1</a>
                    <span aria-current="page" class="page-numbers current">2</span>
                    <a class="page-numbers" href="#">3</a>
                    <a class="page-numbers" href="#">4</a>
                    <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Candidates Details End -->
 <script>
      feather.replace()
    </script>
</body>
</html>





