{% extends 'layout/layout_company.html' %}
{% load static %}
{% block page_header %}
    Post Job
{% endblock %}
{% block breadcrumb %}
    <a href="{% url 'home' %}">Home</a> /
    <span>Post Job</span>
{% endblock %}
{%  block extra_css %}
    <style>
        input[type="radio"] {
            /* remove standard background appearance */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* create custom radiobutton appearance */
            display: inline-block;
            width: 15px;
            height: 15px;
            padding: 3px;
            /* background-color only for content */
            outline: none !important;
            border: 1px solid #bbbbbb;
            border-radius: 50%;
            margin-top: 2px;
        }

        /* appearance for checked radiobutton */
        input[type="radio"]:checked {

            background-color: #f5d91d;
        }

        #radios{
            display: flex;
        }
        #amount{
            margin-top: 4px;
            margin-right: 3px;
        }
        #range, #negotiable{
            margin-left: 150px;
            margin-top: 4.5px;
            margin-right: 3px;
        }
        #salary,#salary_min,#salary_max{
            margin-top: 23px;
        }

    </style>

{%  endblock %}
{% block body_block %}
    <div class="post-content-wrapper">
        <form  id="job-post-form" class="job-post-form" method="POST" novalidate="novalidate" data-callback="jobpostCallback" autocomplete="off">
            <div class="basic-info-input">
                <h4><i data-feather="plus-circle"></i>Post A Job</h4>
                <div id="job-title" class="form-group row">
                    <label class="col-md-3 col-form-label">Job Title</label>
                    <div class="col-md-9">
                        <input name="title" required type="text" regex='[A-Z]' class="form-control title" maxlength="50" placeholder="Your job title here" data-msg-required="Title is required">
                    </div>
                </div>
                <div id="job-description" class="row">
                    <label class="col-md-3 col-form-label">Job Description</label>
                    <div class="col-md-9">
                        <textarea name="description" id="description" required class="tinymce-editor tinymce-editor-1" placeholder="Description text here"></textarea>
                    </div>
                </div>
                <div id="job-summery" class="row">
                    <label class="col-md-3 col-form-label">Job Summary</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="job_category_id" id="job_category" data-text="name" data-value="name" data-placeholder="Select Category" data-src="/api/job/top-categories/">
                                    </select>
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="experience" id="experience" data-text="name" data-value="name" data-placeholder="Select Experience" data-src="/api/experience/list">
                                    </select>
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="job_gender_id" id="job_gender" data-text="name" data-value="name" data-placeholder="Select Gender" data-src="/api/job-gender/list/">
                                    </select>
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="qualification_id" id="qualification" data-text="name" data-value="name" data-placeholder="Select Qualification" data-src="/api/qualification/list">
                                    </select>
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="vacancy" id="vacancy"  class="form-control" placeholder="No of Vacancy" min="1" required data-msg-required="Vacancy is required">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label" id="radio">Salary </label>
                     <div  class="col-md-9" id="radios">
                         <input type="radio" id="amount" name="myRadio" value="amount">
                         <label for="amount">Amount</label><br>
                         <input type="radio" id="range" name="myRadio" value="range">
                         <label for="range">Range</label><br>
                         <input type="radio" id="negotiable" name="myRadio" value="negotiable">
                         <label for="negotiable">Negotiable</label><br>
                    </div>
                    <label id="single_label" style="display: none;" class="col-md-3 col-form-label"></label>
                    <div class="col-md-4" id="single_salary" style="display:none;">
                        <div class="form-group">
                            <input  name="salary" id="salary" type="text" class="form-control" placeholder="Salary">
                        </div>
                    </div>
                    <br>


                    <label id="range_label" style="display: none;" class="col-md-3 col-form-label"></label>
                    <div id="min_range" class="col-md-4" style="display: none;">
                        <div class="form-group">
                            <input type="text" class="form-control" name="salary_min" id="salary_min" type="text"  placeholder="Salary Min">
                        </div>
                    </div>
                    <div id="max_range" class="col-md-4" style="display: none;">
                        <div class="form-group">
                            <input type="text" class="form-control" name="salary_max" id="salary_max" type="text"  placeholder="Salary Max">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="col-md-3 col-form-label">Application Deadline</label>
                    <div class="col-md-4">
                        <div class="form-group datepicker">
                            <input  name="application_deadline" id="application_deadline_" class="form-control datepicker"  placeholder="DD-MM-YYYY" value="">
                             <input type="hidden" name="application_deadline" id="application_deadline">
                        </div>
                    </div>
                </div>

                <div id="response" class="row">
                    <label class="col-md-3 col-form-label">Responsibilities</label>
                    <div class="col-md-9">
                        <textarea id="responsibilities" name="responsibilities" class="tinymce-editor tinymce-editor-1" placeholder="Responsibilities (Optional)"></textarea>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label">Education</label>
                    <div class="col-md-9">
                        <textarea id="education" name="education" class="tinymce-editor tinymce-editor-1" placeholder="Education (Optional)"></textarea>
                    </div>
                </div>
                <div id="job-skills" class="row" >
                    <label class="col-md-3 col-form-label">Additional Requirements</label>
                    <div class="col-md-9">
<!--                                        <input name="skills" id="skills" required type="text" class="form-control" placeholder="Your job skills here" data-msg-required="Skills are required">-->
                        <textarea name="additional_requirements" id="additional_requirements" class="tinymce-editor tinymce-editor-1" placeholder="Description text here"></textarea>
                    </div>
                </div>

                <div id="others" class="row">
                    <label class="col-md-3 col-form-label">Other Benefits</label>
                    <div class="col-md-9">
                        <textarea id="other_benefits" name="other_benefits" class="tinymce-editor tinymce-editor-1" placeholder="Description text here"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Job Location</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Address" required data-msg-required="Address is required">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="job_area" name="job_area" placeholder="Area">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="job_city" id="job_city" data-text="name" data-value="name" data-placeholder="Select City"
                                data-src="/api/city/list"></select>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">About Job</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <select  required class="form-control" name="job_site" id="job_site" data-text="id" data-value="id" data-placeholder="Select Job Site"
                                            data-src="/api/job-site/list"></select>
                                    <i class="fa fa-caret-down"></i>
                                </div>

                                <div class="form-group">
                                    <select required class="form-control" name="job_nature" id="job_nature" data-text="id" data-value="id" data-placeholder="Select Job Nature"
                                            data-src="/api/job-nature/list"></select>
                                    <i class="fa fa-caret-down"></i>
                                </div>
                                <div class="form-group">
                                    <select required class="form-control" name="job_type" id="job_type" data-text="id" data-value="id" data-placeholder="Select Job Type"
                                            data-src="/api/job-type/list"></select>
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" id="comapny_name">
                    <label class="col-md-3 col-form-label">Required Skills</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="skills" id="skills" required type="text" class="form-control" placeholder="Your job skills here" data-msg-required="Skills are required">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="company_profile" class="row" >
                    <label class="col-md-3 col-form-label">About Company</label>
                    <div class="col-md-9">
                        <textarea name="company_profile" id="company_profile" class="tinymce-editor tinymce-editor-1" placeholder="Company Profile text here"></textarea>
                    </div>
                </div>



                <div class="form-group row">
                    <label class="col-md-3 col-form-label"></label>
                    <div class="col-md-9">
                        <button style="outline: none !important;" type="submit" class="button btn-yellow" id="save-draft">Save Draft</button>
                        <button style="outline: none !important;" type="submit" class="button btn-yellow" id="post-button">Post</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function() {
            $("#job-post-form").validate({
                errorClass: "my-error-class"
            });
            initAjaxSelects();
            initAjaxForms();
            salaryType();
            $('#post-button').on('click',function (event){
                var description = tinyMCE.get('description').getContent();
                var responsibilities = tinyMCE.get('responsibilities').getContent();
                var education = tinyMCE.get('education').getContent();
                var additional_requirements = tinyMCE.get('additional_requirements').getContent();
                var other_benefits = tinyMCE.get('other_benefits').getContent();
                var company_profile = tinyMCE.get('company_profile').getContent();
                $("#job-post-form").validate({
                    errorClass: "my-error-class"
                });
                data = JSON.parse(form2Json('job-post-form'))
                delete data['myRadio']
                if(data.salary){
                    data.salary_min = data.salary
                    data.salary_max = data.salary
                    data.salary = ""
                    data.salary_option = "AMOUNT"
                }
                else {
                    data.salary_option = "RANGE"
                }
                if(!data.salary && !data.salary_min && !data.salary_max)
                {
                    data.salary_option = "NEGOTIABLE"
                }
                if(company_profile){
                    data.company_profile = company_profile;
                }
                else{
                    data.company_profile = "";
                }
                if(other_benefits){
                    data.other_benefits = other_benefits;
                }
                else{
                    data.other_benefits = "";
                }
                if(description){
                    data.description = description;
                }
                else{
                    data.description = "";
                }
                if(responsibilities){
                    data.responsibilities = responsibilities;
                }
                else{
                    data.responsibilities = "";
                }
                if(additional_requirements){
                    data.additional_requirements = additional_requirements;
                }
                else{
                    data.additional_requirements = "";
                }
                if(education){
                    data.education = education;
                }
                else{
                    data.education = "";
                }
                data.status = 'POSTED'
                job_post_url = '/api/job/create/'
                if(Object.keys(data).length>1 && $('#job-post-form').valid()) {
                    post(job_post_url, JSON.stringify(data), jobpostCallback);
                }
            });
            $('#save-draft').on('click',function (event){
                $("#job-post-form").validate({
                    errorClass: "my-error-class"
                });
                var description = tinyMCE.get('description').getContent();
                var responsibilities = tinyMCE.get('responsibilities').getContent();
                var education = tinyMCE.get('education').getContent();
                var additional_requirements = tinyMCE.get('additional_requirements').getContent();
                var other_benefits = tinyMCE.get('other_benefits').getContent();
                var company_profile = tinyMCE.get('company_profile').getContent();
                data = JSON.parse(form2Json('job-post-form'))
                delete data['myRadio']
                if(data.salary){
                    data.salary_min = data.salary
                    data.salary_max = data.salary
                    data.salary = ""
                    data.salary_option = "AMOUNT"
                }
                else {
                    data.salary_option = "RANGE"
                }
                if(!data.salary && !data.salary_min && !data.salary_max)
                {
                    data.salary_option = "NEGOTIABLE"
                }
                if(company_profile){
                    data.company_profile = company_profile;
                }
                else{
                    data.company_profile = "";
                }
                if(other_benefits){
                    data.other_benefits = other_benefits;
                }
                else{
                    data.other_benefits = "";
                }
                if(description){
                    data.description = description;
                }
                else{
                    data.description = "";
                }
                if(responsibilities){
                    data.responsibilities = responsibilities;
                }
                else{
                    data.responsibilities = "";
                }
                if(additional_requirements){
                    data.additional_requirements = additional_requirements;
                }
                else{
                    data.additional_requirements = "";
                }
                if(education){
                    data.education = education;
                }
                else{
                    data.education = "";
                }

                job_post_url = '/api/job/create/'
                if(Object.keys(data).length>1 && $('#job-post-form').valid()) {
                    post(job_post_url, JSON.stringify(data), jobpostCallback);
                }
            });
            autoSuggesion('/api/skill/search', "skills");
            urlParams = new URLSearchParams(window.location.search);
            if(urlParams.has('copy-from')){
                var getUrl = '/api/job/get/'+ urlParams.get('copy-from') + '/';
                setTimeout(function () {
                    get(getUrl, loadJob);
                }, 500);
            }

        });

        function loadJob(data) {
             if (data.salary_min && data.salary_max){
                $('#range').prop("checked",true)
                $('#min_range,#max_range,#range_label').show()

            }
            if (data.salary){
                $('#amount').prop("checked",true)
                $('#single_label,#single_salary').show()
            }
            if (data.salary == "Negotiable"){
                data.salary=""
                $('#single_salary').hide()
                $('#negotiable').prop("checked",true)
            }
            id = $('form.job-post-form').attr('id');
            if(data){
                data['application_deadline_'] = data['application_deadline']
                if(data.salary_min){
                    data.salary_min = Number(data.salary_min)
                }
                if(data.salary_max){
                    data.salary_max = Number(data.salary_max)
                }
                json2Form(data, id);
                $(".title").val(data.title + " (copy)");
                $.each(data.job_skills, function (index, item) {
                    $("input[name='skills']").tagsinput('add', item.name);
                });
            }
        }

        function redirectPage() {
            window.location.href = "/jobs/";
        }

        function salaryType() {
            $('#salary-max, #salary-min, #currency-div').hide();
            $('#salary').on('change', function () {
                var salaryTypeValue = $(this).val();
                if(salaryTypeValue=='salary_range'){
                    $('#salary-max, #salary-min, #currency-div').show();
                }else{
                    $('#salary-max, #salary-min, #currency-div').hide();
                }
            });
        }
        $('#application_deadline_').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd-mm-yy',
            altFormat: "yy-mm-dd",
            altField: "#application_deadline",
            changeYear: true,
            changeMonth: true,
            yearRange: "1930:2020"
        })

             function autoSuggesion(url, id) {
            var previousItems = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: url,
                    prepare: function (query, settings) {
                        settings.url = settings.url + '?name=' + query
                        settings.headers = {
                            "Authorization": "Bearer " + getCookie('access')
                        };

                        return settings;
                    },
                    filter: function(list) {
                        return $.map(list, function(itemname) {
                            return { name: itemname.name}; });
                    }
                },
                limit: 5 });
            previousItems.initialize();
            $("#" + id).tagsinput({
                typeaheadjs: [{
                    hint: true,
                    highlight: true, /* Enable substring highlighting */
                    minLength: 2 /* Specify minimum characters required for showing result */
                },
                    {
                    name: 'previousSkills',
                    displayKey: 'name',
                    valueKey: 'name',
                    source: previousItems.ttAdapter()
                }]
            });
        }

        function jobpostCallback(data) {
            if(data.status==200){
                $("#job-post-form")[0].reset();
                $("input[name='skills']").tagsinput('removeAll');
                showSuccess("Successful!", "Job created successfully.")
                window.location.href = '/company/manage-jobs/';
            }
        }
        $('input[type=radio][name=myRadio]').on('change', function() {
            switch ($(this).val()) {
                case 'amount':
                    $('#salary_min, #salary_max').val("")
                    $('#single_label,#single_salary').show()
                    $('#range_label,#min_range,#max_range').hide()
                    break;
                case 'range':
                    $('#salary').val("")
                    $('#single_label,#single_salary').hide()
                    $('#range_label,#min_range,#max_range').show()
                    break;
                case 'negotiable':
                    $('#salary').val('')
                    $('#salary_min, #salary_max').val("")
                    $('#single_label,#single_salary,#range_label,#min_range,#max_range').hide()
                    break;
            }
        });
        $('.post_job').addClass("active");
    </script>
{% endblock %}