.display-none {
    display: none !important;
}
.cursor-pointer {
    cursor: pointer;
}
:disabled {
    color: #e0c7c7 !important;
    cursor: default;
    opacity: .4;
}
.signin-button {
    background: transparent;
    font-size: 1.3rem;
    position: relative;
    padding-left: 15px;
}

label.my-error-class{
    color:#FF0000!important;
}

.question-mark{
    position: absolute;
    top: 258px;
    right: 2px;
}

.tooltip .tooltip-inner{
    font-size: 20px;
    color: #000;
    text-align: left;
    min-width: 250px;
}
.modal-open .tooltip .tooltip-inner{
    font-size: 20px;
    color: #fff;
    text-align: left;
    min-width: 250px;
}

.pass-hint{
    position: absolute;
    top: 20px;
    right: 2px;
}

/*job skills*/
.bootstrap-tagsinput{
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-left: 0;
    line-height: 28px;
    border-radius: 0;
    width: 100%;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background-color: #f5d91d;
}
.bootstrap-tagsinput .label{
    padding: .2em .6em .3em;
    border-radius: .25em;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover, .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.job-skills{
    margin-top: 20px;
}

.job-skills p{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 3px 15px;
    margin-top: 8px;
    border-radius: 3px;
    width: fit-content;
    background-color: white;
}

.skill-label{
    font-size: 1.5rem;
    display: block;

}
/*job skills*/

/*job detail*/
.detail-color{
    color: #6f7484!important;
}

.details-section span{
    color: #6f7484;
}
a.save.favourite.active {
    color: #ff8fa6;
    border-color: #ff8fa6;
}

a.save.apply.active {
    color: white;
    border-color: red;
    background-color: blue;
}

.information-and-share .job-location {
    padding: 15px;
}
/*job detail*/

/*fontawesome icons*/
.newsletter-form .fas {
    color: #FFFFFF;
}

/*fontawesome icons*/




.job-filter-wrapper .job-filter .nstSlider .grip-label .leftLabel:after {
    content: " BDT - ";
}
.job-filter .nstSlider .grip-label .rightLabel:after {
    content: " BDT";
}
.job-filter-wrapper .job-filter .nstSlider .grip-label .leftLabel:before {
    content: '';
}

.job-filter-wrapper .job-filter .nstSlider .grip-label .leftLabel:after {
    padding-left: 0;
}

.job-filter-wrapper .job-filter .nstSlider .grip-label .rightLabel:before {
    content: '';
}



.job-filter-wrapper #experience-filter .nstSlider .grip-label .ex-leftLabel:after {
    content: " Year - ";
}
#experience-filter .nstSlider .grip-label .ex-rightLabel:after {
    content: " Year";
}
.job-filter-wrapper #experience-filter .nstSlider .grip-label .leftLabel:before {
    content: '';
}

.job-filter-wrapper #experience-filter .nstSlider .grip-label .leftLabel:after {
    padding-left: 0;
}

.job-filter-wrapper #experience-filter .nstSlider .grip-label .rightLabel:before {
    content: '';
}

/*professional edit profile*/
.about-info-salary{
    color: #6f7484!important;
    font-weight: normal!important;
    margin-right: 0px!important;
}

.information ul li span:nth-last-child(1){
    font-size: 1.4rem;
    color: #6f7484;
    font-weight: normal;
}

.personal-information ul li span:nth-last-child(1){
    font-size: 1.4rem;
    color: #6f7484;
    font-weight: normal;
}

.modal-body{
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}
/*professional edit profile*/

#search-form .alert-danger {
    color: #e60015;
    background-color: #fff;
}

/*professional edit profile*/
.about-info-salary{
    color: #6f7484!important;
    font-weight: normal!important;
    margin-right: 0px!important;
}

.information ul li span:nth-last-child(1){
    font-size: 1.4rem;
    color: #6f7484;
    font-weight: normal;
}

.personal-information ul li span:nth-last-child(1){
    font-size: 1.4rem;
    color: #6f7484;
    font-weight: normal;
}
/*professional edit profile*/

#search-form .alert-danger {
    color: #e60015;
    background-color: #fff;
}

/*forgot password*/
.padding-bottom-150 {
    padding-bottom: 150px;
}

.padding-top-150 {
    padding-top: 150px;
}

.padding-bottom-180 {
    padding-bottom: 180px;
}

.padding-top-180 {
    padding-top: 180px;
}

.green-color{
    color: #008000!important;
}

.red-color{
    color: #FF0000!important;
}
.padding-icon-10{
    padding-right: 10px;
}
/*forgot password*/



.error {
    color: red;
}

.add-new-record{
    color: #f5d91d;
    background: rgba(36, 109, 248, 0.15);
    border-radius: 3px;
    border: 0;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px 20px;
    margin-top: 20px;
}

.update-icon{
    position: relative !important;
    float: right;
    margin-left: 5px;
}
.delete-icon{
    position: relative !important;
    color: #FF0000 !important;
    background: rgba(255, 0, 0, 0.15) !important;
    float: right;
    margin-left: 5px;
}
.delete-icon:hover {
    color: #fff !important;
    background-color: #FF0000 !important;
    border-color: #0062cc;
}

.datepicker{z-index:1151 !important;}

.twitter-typeahead, .tt-menu {
    width: 86%;
}

/*certification*/
.certification .certification-label {
    position: relative;
    padding-left: 25px;
}

.certification .certification-label + .certification-label {
    margin-top: 20px;
}

.certification .certification-label h5 {
    color: #232630;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}
.certification .certification-label p {
    color: #232630;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.certification .certification-label h5 span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #6f7484;
    margin-left: 10px;
}

.certification .certification-label:before {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f5d91d;
    top: 7px;
    left: 0;
}


.portfolio .portfolio-section {
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
}

.reference .reference-label {
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
}

.portfolio .portfolio-section:before {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f5d91d;
    top: 7px;
    left: 0;
}

.reference .reference-label:before {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f5d91d;
    top: 7px;
    left: 0;
}

.text-normal{
    text-transform: lowercase;
    display: inline-block;
}

.text-normal::first-letter{
    text-transform: uppercase;
}/*membership*/
.membership .membership-label {
    position: relative;
    padding-left: 25px;
}

.membership .membership-label + .membership-label {
    margin-top: 20px;
}

.membership .membership-label h5 {
    color: #232630;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}
/*.membership .membership-label p {*/
/*    color: #232630;*/
/*    font-family: "Poppins", sans-serif;*/
/*    font-size: 1.4rem;*/
/*    font-weight: 500;*/
/*    margin-bottom: 10px;*/
/*}*/

.membership .membership-label h5 span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #6f7484;
    margin-left: 10px;
}

.membership .membership-label:before {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f5d91d;
    top: 7px;
    left: 0;
}.add-new-record{
     color: #f5d91d;
     background: rgba(36, 109, 248, 0.15);
     border-radius: 3px;
     border: 0;
     font-size: 1.3rem;
     font-weight: 500;
     padding: 5px 20px;
     margin-top: 20px;
 }

.update-icon{
    position: relative !important;
    float: right;
    margin-left: 5px;
}
.delete-icon{
    position: relative !important;
    color: #FF0000 !important;
    background: rgba(255, 0, 0, 0.15) !important;
    float: right;
    margin-left: 5px;
}
.delete-icon:hover {
    color: #fff !important;
    background-color: #FF0000 !important;
    border-color: #0062cc;
}

.datepicker{z-index:1151 !important;}

.twitter-typeahead, .tt-menu {
    width: 78%;
}

.job-list .thumb img {
    max-width: 80px;
}

p.copyright-text {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 19px;
    color: #fff;
}

p.powered-by span{
    color: #aaa;
    position: relative;
    top: 10px;
}


.salary_max, .salary_min{
    margin-right: 0px!important;
}

.details-section span h8{
    color: #212529;
    font-weight: 500;
}

.details-section ul{
    padding-left: 0!important;
    margin-left: 14px;
}

.upload-profile-photo{
    margin-top: 0px !important;
    margin-bottom: 20px;
}

#basic-info-margin{
    margin-bottom: 10px;
}

.picture-save-button{
    padding: 12px 34px !important;
}

#about-details{
    margin-top: 20px!important;
}
.job-apply-buttons .quick-apply {
    background: #f5d91d;
    color: #ffffff;
    border-color: #f5d91d;
    margin-right: 10px;
}

.dashboard-skill{
    position: absolute;
    left: 25px;
    font-size: 30px;
    top: 40%;
    color: #ffffff;
}
.job-title-and-info .title {
    max-width: 65%;
}

.job-title-and-info .title .title-body{
    width: calc(100% - 120px);
}

.span-margin-remove{
    margin-right: 0px!important;
}

#job-title{
    padding-bottom: 10px;
}

/*crop image*/
.image-width{
    max-width: 100%;
}

.apply-popup .modal-dialog .modal-content .modal-footer {
    padding: 15px 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}

.apply-popup .modal-footer .button {
    color: #ffffff;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background: #f5d91d;
}

.crop-popup .modal-dialog .modal-content .modal-body {
    padding: 0px;
}

.file-upload input.image-file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}
/*crop image*/


i.profile-skill{
    height: 22px;
    color: #aaa;
    left: -30px;
    top: 2px;
    position: absolute;
}
.no-records{
    text-align: center;
    font-weight: 500;
}

#certification-logo{
    height: 22px;
    color: #aaa;
    left: -30px;
    top: 2px;
    position: absolute;
}

#certification-modal-logo{
    height: 22px;
    margin-right: 5px;
    color: #aaa;
    left: -30px;
    top: 2px;
}

i.profile-skill-modal{
    height: 22px;
    margin-right: 5px;
    color: #aaa;
    left: -30px;
    top: 2px;
}

.basic-info-profile{
    margin-top: 170px!important;
}

.job-alert-subscription{
    font-size: large;
}

.banner-height{
    height: 960px;
}

.career-advise-more-button{
    color: blue;
    margin-left: 5px;
}

.career-advise-more-button:hover{
    color: blue;
}

.refresh-button{
    height: 15px;
    width: 15px;
    color: blue;
}

.newsletter-form .form-group {
    margin-right: 10px;
}
#remove-dob{
    position: absolute;
    right: 15px;
    top: 1px;
}

.port-title{
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
}

.location-search-input{
    height: 40px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    outline: none;
    background: transparent;
}

.ca-thumb{
    width: 150px;
    border-radius: 3px;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-list .info {
    width: 170px;
}

.blog-details-wrapper .post-content {
    max-width: 100%;
    flex: 0 0 auto;
}

.footer-newsletter form .job-alert-input{
    width: 80%;
}

.job-alert-input #email{
    height: 40px;
    font-size: 1.5rem;
}

.job-alert-input button{
    width: 40px;
}

.reference .reference-section{
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
}

.reference .reference-section:before {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f5d91d;
    top: 7px;
    left: 0;
}

.shortlist-active{
    fill: #f5d91d;
}
#message-content-error {
    position: absolute;
    bottom: -33px;
    right: 0;
}

.shortlisted-div{
    float: right;
}

#modal-message .modal-dialog{
    padding-top: 15%;
}

.edu-list, .exp-list, .cer-list, .mem-list, .por-list, .mbr-list{
    display: flex;
}

.edu-list .thumb, .exp-list .thumb, .cer-list .thumb, .mem-list .thumb, .por-list .thumb, .mbr-list .thumb{
    width: 80px;
    height: 80px;
    border-radius: 3px;
}

.edu-list .body, .exp-list .body, .cer-list .body, .mem-list .body, .por-list .body, .mbr-list .body{
    padding-left: 30px;
    width: 100%;
}

.edu-list .thumb img, .exp-list .thumb img, .cer-list .thumb img, .mem-list .thumb img, .por-list .thumb img, .mbr-list .thumb img{
    padding: 5px;
}

.edu-list .thumb a, .exp-list .thumb a, .cer-list .thumb a, .mem-list .thumb a, .por-list .thumb a, .mbr-list .thumb a{
    display: block;
    text-align: center;
}

#loc #address{
    display: inline-block;
}

#name-social-section .public-pro-company, #name-social-section .public-pro-designation{
    margin-left:32px;
    margin-top: 0px;
}

.public-pro-company label, .public-pro-designation label{
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.attachment-download .attachment-download-buttons{
    display: flex;
    justify-content: space-around;
}
.apply-popup .modal-dialog .modal-content .modal-body .file-input-wrap .mce-tinymce label {
    border: 0;
    background: none;
    text-align: left;
    display: block;
    cursor: default;
}

#manage_jobs .title{
    max-width: 370px;
}

select#page_size{
    width: 50px;
    height: 33px;
    font-size: 1.4rem;
    padding: 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.buttons .favourite svg{
    width: 35px;
    height: 35px;
    color: #aaaaaa;
}

.buttons .favourite{
    margin-right: 10px;
}