<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
    <meta name="X-CSRF-TOKEN" content="44f02902-3ac0-4d5a-86e2-da3d17430c26"/>
    <title>JobXprss: All the Great Jobs in One Place!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}" />

    <!-- External Css -->
    <link rel="stylesheet" href="{% static '/assets/css/fontawesome-all.min.css'%}" />
    <link rel="stylesheet" href="{% static '/assets/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/et-line.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/plyr.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/flag.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/slick.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/jquery.nstSlider.min.css' %}" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/yellow.css' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon-114.png' %}">

    <!--[if lt IE 9]>
    <script src="{% static '/assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static '/assets/js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B24WQR88NR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-B24WQR88NR');
    </script>
    <!-- End Google Analytics -->

    <style>
        body {
            background: #111133 url({% static 'images/bg/bg_home.jpg' %}) no-repeat top;
            font-family: "Poppins";
        }

        a{
            color:#000;
        }

        a:hover{
            color: #f5d91d;
        }
        #modal-register .form-header h5 {
            font-size: 1.8rem;
        }
        #modal-register .form-header h5.green-color {
            font-size: 1.4rem;
        }
        #modal-register h5 svg {
            height: 23px;
            width: 30px;
            padding-right: 5px;
            padding-left: 5px;
        }
        #sign-in input {
            border-radius: 5px;
        }
        #sign-in .more-option {
            margin-top: 0;
            margin-bottom: 30px;
            display: inline;
        }
        .shortcut-login p {
            padding-left: 15px;
        }
        .shortcut-login a, .more-option a {
            font-weight: bold;
        }
        .modal-footer {
            justify-content: left;
        }
        .logo-area img{
            width:300px;
            height: auto !important;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="header-top text-center">
                <div class="logo-area w-100">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-register" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-yellow">
                <h4 class="modal-title">
                    <div class="form-header">
                        <h5><i data-feather="user"></i>Sign Up</h5>
                    </div>
                </h4>
            </div>
            <div class="modal-body mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="access-form">
                                <div class="display-none">
                                    <h5><i data-feather="user"></i></h5>
                                </div>

                                <form action="/api/professional/create_with_user/" id="sign-up" class="ajax" method="POST" novalidate="novalidate" data-callback="signUpCallback">
                                    <div class="form-group">
                                        <input type="text" name="full_name" id="full_name" placeholder="Name" class="form-control" required data-msg-required="Name is required">
                                    </div>

                                    <div class="form-group" id="eml">
                                        <input type="text" name="email" id="email" regex='^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$' placeholder="Email Address" class="form-control" required data-msg-required="Email is required" data-msg-regex="Please enter a valid email">
                                        <input type="text" name="alert" id="alert" class="display-none">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" regex="\+?(88)?0?1[56789][0-9]{8}\b" name="phone" placeholder="Mobile" class="form-control" data-msg-regex="Enter a valid Mobile Number" required data-msg-required="Mobile is required">

                                    </div>
                                    <div class="form-group" style="position: relative">
                                        <input type="password" required name="password" id="password"  class="form-control" minlength="8" regex="(?=.*?[0-9])(?=.*?[A-Za-z]).+" data-msg-regex="Password requires at least one digit and one letter." placeholder="Password" data-msg-required="Password is required.">
                                        <i class="fas fa-question-circle question-mark1 float-right" style="position: absolute; right: 0; top: 15px;" data-toggle="tooltip" title="Password must be at least 8 characters long with at least one digit and one letter."></i>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control" required data-msg-required="Confirm Password is required" data-rule-equalto="#password" data-msg-equalto="Password and confirm password should be same!!">
                                    </div>
                                    <div class="more-option terms">
                                        <div class="mt-0 terms">
                                            <input class="custom-radio" type="checkbox" id="terms_and_condition_status" name="terms_and_condition_status" required data-msg-required="Please agree our Terms of Use">
                                            <label for="terms_and_condition_status" id="errorToShow">
                                                <span class="dot"></span> I accept the <a href="/terms-of-use/">Terms of Use</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col">
                                            <a id="cancelButton" href="{% url 'home' %}" class="button btn-yellow">Cancel</a>
                                        </div>
                                        <div class="col-auto">
                                            <button disabled id="registerBtn" class="button btn-yellow">Sign Up</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="shortcut-login">
                    <span class="display-none">Or connect with</span>
                    <div class="buttons display-none">
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                        <a href="#" class="google"><i class="fab fa-google"></i>Google</a>
                    </div>
                    <p>Already have an account? <a href="/professional/sign-in">Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="{% static '/assets/js/popper.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static '/assets/js/feather.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.nstSlider.min.js' %}"></script>
<script src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/assets/js/visible.js' %}"></script>
<script src="{% static '/assets/js/jquery.countTo.js' %}"></script>
<script src="{% static '/assets/js/chart.js' %}"></script>
<script src="{% static '/assets/js/plyr.js' %}"></script>
<script src="{% static '/assets/js/tinymce.min.js' %}"></script>
<script src="{% static '/assets/js/slick.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static '/assets/js/sweetalert2@9.js' %}"></script>
<script src="{% static '/assets/js/jquery.cookie.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static '/assets/js/form2js.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script src="{% static 'dashboard/js/datePicker.js' %}"></script>
<script src="{% static 'dashboard/js/upload-input.js' %}"></script>
<script>
    $(document).ready(function() {
        $(".tooltip-inner").css('color', '#fff');
        $(".form-group").css('margin-bottom', '15px');
        $(".my-error-class").css('font-size', '1.4rem');
        var urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has('email')){
            $('#email').val(urlParams.get('email'));
            $('#alert').val('on');
        }
        $('#sign-up').validate({
            errorClass: "my-error-class",
            ignore: [],
            errorPlacement: function(error, element) {
                if (element.attr("name") == "terms_and_condition_status") {
                    error.appendTo("#errorToShow");
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $('[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            trigger: 'click',
            placement: 'bottom',
        });
        initAjaxForms();
        setTimeout(function(){
            $("#registerBtn").prop('disabled', false);
        }, 1500);
    });
    function  signUpCallback(data){
        if(data.responseJSON.code == 200){
            {#var id = data.responseJSON.result.user.professional;#}
            {#console.log(data);#}
            {#if ("userEmail" in localStorage) {#}
            {#    $("#alert").val('on');#}
            $("#sign-up").toggle();
            $(".form-header").html('<h5 class="green-color"><i class="fas fa-check-square padding-icon-10 green-color"></i>' +
                ''+data.responseJSON.message+'</h5>');
            $(".modal-footer").html('<a href="/professional/sign-in/" class="button btn-yellow">Okay</a>');
            $(".modal-footer").css("justify-content", "flex-end")
            $(".shortcut-login").toggle();
            $(".access-page-bg").removeClass("padding-bottom-90 padding-top-90").addClass("padding-top-180 padding-bottom-180");
            // showSuccess("Sign Up Successful!", "A verification code was sent to your email")
            $("div").remove(".full-form");
            //$("form").remove("#sign-up");



        }
        else {
            $("p").remove(".pt");
            $("#eml").append('<p class="pt" style="color:red">' +
                ''+data.responseJSON.message+'</p>');
        }
    };
    $( "#eml" ).on( "click", function() {
        $("p").remove(".pt");
    });
    $('html').on('click', function (e) {
        $('[data-toggle=tooltip]').each(function () {
            // hide any open popovers when the anywhere else in the body is clicked
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.tooltip').has(e.target).length === 0) {
                $(this).tooltip('hide');
            }
        });
    });
    $("#modal-register").modal({
        "backdrop": "static"
    })
</script>


</body>
</html>