<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
    <meta name="X-CSRF-TOKEN" content="44f02902-3ac0-4d5a-86e2-da3d17430c26"/>
    <title>JobXprss: All the Great Jobs in One Place!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}" />

    <!-- External Css -->
    <link rel="stylesheet" href="{% static '/assets/css/fontawesome-all.min.css'%}" />
    <link rel="stylesheet" href="{% static '/assets/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/et-line.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/plyr.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/flag.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/slick.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/jquery.nstSlider.min.css' %}" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/yellow.css' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon-114.png' %}">
    {% block extra_css %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{% static '/assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static '/assets/js/respond.min.js' %}"></script>
    <![endif]-->
    <style>
        body {
            background: #111133 url({% static 'images/bg/bg_home.jpg' %}) no-repeat top;
            font-family: "Poppins";
        }

        a{
            color:#000;
        }

        a:hover{
            color: #f5d91d;
        }
        #modal-reset-password h5 {
            font-size: 1.8rem;
        }
        #modal-reset-password h5 svg {
            height: 23px;
            width: 30px;
            padding-right: 5px;
            padding-left: 5px;
        }
        #sign-in input {
            border-radius: 5px;
        }
        #sign-in .more-option {
            margin-top: 0;
            margin-bottom: 30px;
            display: inline;
        }
        .shortcut-login p {
            padding-left: 15px;
        }
        .shortcut-login a, .more-option a {
            font-weight: bold;
        }
        .modal-footer {
            justify-content: left;
        }
        .logo-area img{
            width:300px;
            height: auto !important;
        }
    </style>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="header-top text-center">
                <div class="logo-area w-100">
                    <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
                </div>
{#                <div class="top-nav">#}
{#                    <a href="/professional/sign-in/" class="account-page-link">Sign In</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-reset-password" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-yellow">
                <h4 class="modal-title">
                    <div class="form-header">
                        <h5><i data-feather="edit"></i>Reset Password</h5>
                    </div>
                </h4>
            </div>
            <div class="modal-body mt-4 mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="access-form">
                                <div class="display-none">
                                    <h5><i data-feather="edit">Reset Password</i></h5>
                                </div>
                                <form action="/api/professional/password_reset/confirm/" id="reset-password-form" novalidate="novalidate" class="ajax display-none" method="post" data-callback="resetPasswordCallback">
                                    <div class="form-group">
                                        <input type="hidden" name="token" id="token">
                                        <input type="password" required name="password" id="password"  class="form-control" minlength="8" regex="(?=.*?[0-9])(?=.*?[A-Za-z]).+" data-msg-regex="Password requires at least one digit and one letter." placeholder="Password" data-msg-required="Password is required.">
                                        <i class="fas fa-question-circle pass-hint" data-toggle="tooltip" title="Password must be at least 8 characters long with at least one digit and one letter."></i>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" required placeholder="Confirm Password" data-rule-equalto="#password" data-msg-equalto="Password and confirm password should be same!!" data-msg-required="Confirm password is required.">
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col">
                                            <a id="cancelButton" href="{% url 'home' %}" class="button btn-yellow">Cancel</a>
                                        </div>
                                        <div class="col-auto">
                                            <button style="outline: none !important;" disabled id="resetPasswordBtn" class="button btn-yellow btn-block">Reset Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer display-none">
                <div class="shortcut-login">
                    <div class="buttons display-none">
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                        <a href="#" class="google"><i class="fab fa-google"></i>Google</a>
                    </div>
                    <p class="pt display-none">Don't have an account? <a href="/professional/signup/">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{#<div class="padding-top-180 padding-bottom-180 access-page-bg">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-xl-4 col-md-6">#}
{#                <div class="access-form">#}
{#                    <div class="form-header" style="display: none;">#}
{#                    </div>#}
{#                    <div class="account-type display-none">#}
{#                        <label for="idRegisterCan">#}
{#                            <input id="idRegisterCan" type="radio" name="register">#}
{#                            <span>Candidate</span>#}
{#                        </label>#}
{#                        <label for="idRegisterEmp">#}
{#                            <input id="idRegisterEmp" type="radio" name="register">#}
{#                            <span>Employer</span>#}
{#                        </label>#}
{#                    </div>#}
{#                    <form action="/api/professional/password_reset/confirm/" id="reset-password-form" novalidate="novalidate" class="ajax display-none" method="post" data-callback="resetPasswordCallback">#}
{#                        <div class="form-group display-none">#}
{#                            <input type="email" placeholder="Email Address" class="form-control" >#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="hidden" name="token" id="token">#}
{#                            <input type="password" required name="password" id="password"  class="form-control" minlength="8" regex="(?=.*?[0-9])(?=.*?[A-Za-z]).+" data-msg-regex="Password requires at least one digit and one letter." placeholder="Password" data-msg-required="Password is required.">#}
{#                            <i class="fas fa-question-circle pass-hint" data-toggle="tooltip" title="Password must be at least 8 characters long with at least one digit and one letter."></i>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="password" class="form-control" required placeholder="Confirm Password" data-rule-equalto="#password" data-msg-equalto="Password and confirm password should be same!!" data-msg-required="Confirm password is required.">#}
{#                        </div>#}
{#                        <div class="more-option terms display-none">#}
{#                            <div class="mt-0 terms">#}
{#                                <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition" checked>#}
{#                                <label for="radio-4">#}
{#                                    <span class="dot"></span> I accept the <a href="/terms-and-condition">terms & conditions</a>#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}
{#                        <button disabled id="resetPasswordBtn" class="button primary-bg btn-block">Reset Password</button>#}
{#                    </form>#}
{#                    <a id="reset-password" class="button primary-bg btn-block text-center" href="/professional/forget-password/">Reset Password Again</a>#}
{#                    <div class="shortcut-login">#}
{#                        <span class="display-none">Or connect with</span>#}
{#                        <div class="buttons display-none">#}
{#                            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>#}
{#                            <a href="#" class="google"><i class="fab fa-google"></i>Google</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="{% static '/assets/js/popper.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static '/assets/js/feather.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.nstSlider.min.js' %}"></script>
<script src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/assets/js/visible.js' %}"></script>
<script src="{% static '/assets/js/jquery.countTo.js' %}"></script>
<script src="{% static '/assets/js/chart.js' %}"></script>
<script src="{% static '/assets/js/plyr.js' %}"></script>
<script src="{% static '/assets/js/tinymce.min.js' %}"></script>
<script src="{% static '/assets/js/slick.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.cookie.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static '/assets/js/form2js.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script src="{% static 'dashboard/js/datePicker.js' %}"></script>
<script src="{% static 'dashboard/js/upload-input.js' %}"></script>
<script src="{% static '/assets/js/sweetalert2@9.js' %}"></script>

<script>
    $(document).ready(function() {
        $("#reset-password-form").validate({
            errorClass: "my-error-class"
        });
        var path = window.location.pathname.split('/')
        var token = path[path.length-2]

        $('#token').val(token)
        initAjaxForms();
        var data = {'token':$('#token').val()};
        post("/api/professional/password_reset/validate_token/", JSON.stringify(data), tokenValidate)

        $('[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            trigger: 'click',
            placement: 'bottom',
        });
        setTimeout(function(){
            $("#resetPasswordBtn").prop('disabled', false);
        }, 1500);
    });
    function  resetPasswordCallback(data){
        if(data.status == 200){
            window.location.href = "/professional/reset-password-successful";
        }
        else {
            showError('Pasword Reset Failed!','You have reset your password already!')
        }
    };
    function tokenValidate(data){
//console.log('data' , data)
        if(data.status == 200){
            $(".access-page-bg").removeClass("padding-bottom-180 padding-top-180");
            $(".access-page-bg").addClass("padding-bottom-90 padding-top-90");
            $(".form-header").html('<h5><i data-feather="edit"></i>Reset Password</h5>');
            $("#reset-password-form").removeClass("display-none");
            $("#reset-password").addClass("display-none");
            feather.replace();
        }
        else
        {

        $(".form-header").html('<h5 class="red-color"><i class="fas fa-times-circle padding-icon-10 red-color"></i>This link is expired.</h5>');
        $(".form-header").show();
        $(".modal-footer").removeClass("display-none");
        $(".modal-footer").html('<a href="/professional/sign-in/" class="button btn-yellow">Okay</a>');
        $(".modal-footer").css("justify-content", "flex-end");
        }

    }


    $('html').on('click', function (e) {
        $('[data-toggle=tooltip]').each(function () {
            // hide any open popovers when the anywhere else in the body is clicked
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.tooltip').has(e.target).length === 0) {
                $(this).tooltip('hide');
            }
        });
    });
    $("#modal-reset-password").modal({
        "backdrop": "static"
    })
</script>
</body>

</html>