{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Search: All the Great Jobs in One Place!</title>
    <style>
        html, body{
            height: 100%;
        }
        body{
            background: #0A0A0A;
            text-align: center;
        }
        .center{
            width: 50%;
        }
    </style>

    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon-114.png' %}">

</head>
<body>
    <img class="center" src="{% static 'images/yellow/coming-soon.jpg'%}"/>
</body>
