{% load static %}
{% url 'home' as home_url %}

<header>
    <nav class="main-nav navbar fixed-top navbar-light bg-white py-2 pr-2" style="display: none">
        <div class="col">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo_black.png'%}" class="img-fluid logo" alt="">
            </a>
        </div>
        <div class="col-auto px-0 mx-1">
            <a class="btn btn-yellow" href="{% url 'sign-in' %}">Sign In</a>&nbsp;&nbsp;
            <a class="btn btn-yellow" href="{% url 'register' %}">Sign Up</a>
        </div>
        <div class="col-auto px-0 mx-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse top-links" id="collapsibleNavbar" style="top: 113% !important;">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'jobs' %}" >Jobs</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'career_advice' %}">Career Advice</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-yellow pt-1 d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="nav col">
                    <a href="mailto:webmaster@example.com" class="nav-link admin-email"><span class="fas fa-envelope text-dark"></span></a>
                    <a href="tel:+01953306969" class="nav-link phone-number"><span class="icofont-phone-circle"></span></a>
                </div>
                <div class="nav col-auto pull-right">
                    <a class="nav-link facebook-url" style="display: none;" target="_blank"><span class="fab fa-facebook-square"></span></a>
                    <a class="nav-link linkedin-url" style="display: none;" target="_blank"><span class="fab fa-linkedin"></span></a>
                    <a class="nav-link twitter-url" style="display: none;" target="_blank"><span class="fab fa-twitter-square"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4 d-none d-md-block">
        <div class="row">
            <div class="col">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png'%}" class="img-fluid logo" alt="">
                </a>
            </div>
            <div class="col-auto">
                <ul class="nav top-links">
                    {% if request.get_full_path == home_url %}
                        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                    {% else %}
                        <li class="nav-item active"><a class="nav-link" title="Home" href="{% url 'home' %}">Home</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'jobs' %}" >Jobs</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'career_advice' %}">Career Advice</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li class="nav-item login-popup" id="sign-in"><a class="nav-link" href="{% url 'sign-in' %}">Sign In</a></li>
                    <li class="nav-item login-popup" id="register"><a class="nav-link" href="{% url 'register' %}">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
